PORT=3001

# Microsoft SQL Server
SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=AIStudyHub
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=your_password_here
SQLSERVER_ENCRYPT=false
SQLSERVER_TRUST_SERVER_CERTIFICATE=true
